In [48]:
import pandas as pd
import numpy as np
from pytime import pytime

In [79]:

ot_df = pd.read_csv('./events.csv')
#ot_df_cpy = ot_df.copy()

ot_df_cpy.head()

,calories,splat_pts,steps,date,time,coach,template_version,avg_heart_rate,peak_heart_rate
0,786,16,"3,739",11/04/2018,10‌: 00 AM,Shelby,1,146,173
1,714,16,"2,682",10/05/18,7‌: 10 AM,Kevin,2,143,181
2,754,18,"4,219",11/14/2018,7‌: 10 AM,Shelby,1,145,173
3,789,20,"3,222",10/26/2018,7‌: 10 AM,Kevin,1,150,177
4,910,32,"3,142",10/01/18,6‌: 05 AM,Shelby,2,159,191

# Clean Data

Get the date column in a common format between different template versions

In [80]:
def normalize_date(value):
    return value.replace('.', '/')

def to_int_calories(value):
    return int(value.replace(',', '')) #some values are strings like 1,260

ot_df['date'] = ot_df['date'].apply(normalize_date)
ot_df['calories'] = ot_df['calories'].apply(to_int_calories).astype(int)

ot_df_cpy = ot_df.copy()
ot_df_cpy

,calories,splat_pts,steps,date,time,coach,template_version,avg_heart_rate,peak_heart_rate
0,786,16,"3,739",11/04/2018,10‌: 00 AM,Shelby,1,146,173
1,714,16,"2,682",10/05/18,7‌: 10 AM,Kevin,2,143,181
2,754,18,"4,219",11/14/2018,7‌: 10 AM,Shelby,1,145,173
3,789,20,"3,222",10/26/2018,7‌: 10 AM,Kevin,1,150,177
4,910,32,"3,142",10/01/18,6‌: 05 AM,Shelby,2,159,191
5,756,14,"3,435",11/18/2018,10‌: 00 AM,Stephen,1,140,178
6,656,21,4,10/12/2018,7‌:10 AM,Kevin,1,136,180
7,779,20,"3,561",11/16/2018,7‌: 10 AM,Kevin,1,150,177
8,1265,46,"5,969",10/07/18,12‌: 30 PM,Kate,2,155,187
9,843,32,"4,739",11/06/2018,7‌: 10 AM,Stephen,1,157,182
10,790,11,4,10/15/2018,6‌:05 AM,Kevin,1,144,169
11,838,28,"4,262",10/24/2018,7‌: 10 AM,Shelby,1,153,180
12,741,13,0,11/09/2018,7‌: 10 AM,Kevin,1,147,176
13,765,26,"4,576",11/03/2018,12‌: 30 PM,Kevin,1,154,185
14,877,27,"3,072",09/28/18,6‌: 05 AM,Kevin,2,151,184
15,903,38,"2,868",10/03/18,5‌: 30 PM,Shelby,2,158,183
16,790,27,"4,569",11/08/2018,7‌: 10 AM,Stephen,1,155,188
17,791,27,"3,655",11/12/2018,7‌: 10 AM,Kevin,1,154,178
18,789,24,"1,869",11/01/2018,7‌: 10 AM,Stephen,1,148,176
19,793,23,"4,125",10/17/2018,7‌:10 AM,Shelby,1,147,179
20,786,16,"3,739",11/04/2018,10‌: 00 AM,Shelby,1,146,173
21,805,25,"3,780",11/11/2018,10‌: 00 AM,Shelby,1,150,184
22,796,23,"4,098",10/10/18,7‌: 10 AM,Shelby,2,148,182
23,920,41,"4,759",09/26/18,7‌: 10 AM,Stephen,2,162,190
24,766,20,"3,457",11/20/2018,7‌: 10 AM,Stephen,1,149,181
25,872,27,"4,717",10/08/18,7‌: 10 AM,Kevin,2,154,179

### Hypothesis

* Less calories burned and less splat_pts earned with Kevin as a coach
* Average Heart rate decreasing the more classes I take
* More steps = more calories burned and more splat_pts earned
* On average I burn more calories with Stephen as a coach
* 7:10 AM classes yield the best results

#### 1. Do I burn less calories with Kevin as a coach

In [81]:
ot_df_cpy['coach'].unique()

array(['Shelby', 'Kevin', 'Stephen', 'Kate'], dtype=object)

In [67]:
df_kev = ot_df_cpy[ot_df_cpy.coach == 'Kevin']
#df_kev['calories'] = df_kev['calories'].astype(int)
df_sh  = ot_df_cpy[ot_df_cpy.coach == 'Shelby']
#df_sh['calories'] = df_sh['calories'].astype(int)
df_st  = ot_df_cpy[ot_df_cpy.coach == 'Stephen']
#df_st['calories'] = df_st['calories'].astype(int)
df_kt  = ot_df_cpy[ot_df_cpy.coach == 'Kate']
#df_kt['calories'] = df_kt['calories'].astype(int)

In [92]:
dataframes = [df_kev, df_sh, df_st, df_kt]

calories = []
for df in dataframes:
    calories.append(df['calories'].mean())

cal_series = pd.Series(calories, ['Kevin', 'Shelby', 'Stephen', 'Kate'])

cal_series.sort()

AttributeError: 'Series' object has no attribute 'sort'